---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/test@example.com/events?maxResults=10&orderBy=startTime&singleEvents=true&timeMin=2024-08-31T20:19:41%2B02:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <GOOGLE_ACCESS_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 401,
            "message": "Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.",
            "errors": [
              {
                "message": "Invalid Credentials",
                "domain": "global",
                "reason": "authError",
                "location": "Authorization",
                "locationType": "header"
              }
            ],
            "status": "UNAUTHENTICATED"
          }
        }
  recorded_at: Sat, 31 Aug 2024 18:19:41 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/calendars/test@example.com/events?maxResults=10&orderBy=startTime&singleEvents=true&timeMin=2024-08-31T20:28:14%2B02:00
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer dummy_access_token
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="invalid_token"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 401,
            "message": "Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.",
            "errors": [
              {
                "message": "Invalid Credentials",
                "domain": "global",
                "reason": "authError",
                "location": "Authorization",
                "locationType": "header"
              }
            ],
            "status": "UNAUTHENTICATED"
          }
        }
  recorded_at: Sat, 31 Aug 2024 18:28:15 GMT
recorded_with: VCR 6.3.1
